@charset "UTF-8";

/* GENERAL: */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: url("../images/graphy.png") center;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* HEADER: */
.header_title {
    padding-top: 46px;
}

.lupa {
    position: absolute;
    top: 10%;
    left: 16%;
    width: 50%;
    filter: blur(0.7px);
}

.maps {
    width: 50%;
}

.top_background {
    position: absolute;
}

.header_main {
    padding-top: 5rem;
}

#background-balls {
    background: url("../images/sprite.png") 0 -367px;
    width: 100%;
    height: 210px;
    position: absolute;
    top: 30px;
    z-index: 1;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* search */
.archive #search {
    padding-top: 80px;
}

.home #search {
    padding-top: 50px;
}

#search form.search {
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 600;
}

#search fieldset,
#search label {
    float: left;
}

#search label {
    margin-top: 5px;
    margin-right: 20px;
}

#search fieldset {
    background: #eae9e6;
    padding-right: 15px;
    height: 37px;
    overflow: hidden;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#search input {
    background: 0;
    border: 0px;
    float: left;
    margin-top: 8px;
}

#search form.search [type=text] {
    width: 280px;
    margin-left: 11px;
    margin-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

#search form.search [type=submit] {
    background: url('../images/icon-black-loupe.png') no-repeat;
    width: 21px;
    height: 21px;
}

#mapContainer {
    height: 500px;
    width: 800px;
}

/* FIRMS */
#firms {
    padding-top: 100px;
}

#firms .firms_left img {
    height: auto;
}

#firms .firms_left section {
    padding-bottom: 40px;
}

#firms .description {
    margin-top: 10px;
}

#firms .description h2 {
    font-size: 28.5px;
    color: #494949;
    margin-bottom: 15px;
}

#firms .description > div > a {
    min-width: 123px;
    background: #F22D12;
    color: #fff;
    margin: 0 5px 5px 0px;
    padding: 1px 5px;
    text-align: center;
}

#firms .description ul.difficulty {
    margin-left: 10px;
    margin-top: 4px;
}

#firms div > ul {
    display: inline-flex;
    list-style: none;
}

#firms ul.difficulty.dark li.active {
    background: url("../images/star-icon.png") no-repeat center center;
}

#firms ul.difficulty.dark li {
    background: url("../images/star-icon — white.png") no-repeat center center;
}

#firms ul.difficulty li {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    text-indent: -999em;
}

.firms__box {
    border-bottom: 1px dashed #e2dfde;
    padding-top: 23px;
    padding-bottom: 75px;
    overflow: hidden;
    position: relative;
}

.firms__box p {
    font-size: 0.9rem;
    text-align: justify;
}

.firms__box .more {
    display: block;
    width: 28px;
    height: 28px;
    background: url("../images/button2.png");
    text-indent: 9999em;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -20px;
}

.pagination {
    overflow: hidden;
    padding: 30px 0px;
}

.pagination ul {
    display: block;
    text-align: center;
}

.pagination ul li {
    display: inline-block;
    margin-right: 5px;
}

.pagination ul li a,
.pagination ul li span {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 16px;
    padding-top: 3px;
    height: 28px;
    width: 28px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pagination ul li a {
    background: #f25641;
}

.pagination ul li span {
    background: #F22D12;
}

.sidebar {
    background-color: rgba(242, 45, 18, 0.4);
}

.sidebar li a {
    font-size: 0.9rem;
}

.sidebar ul {
    padding-left: 0px;
}

.widget {
    margin-bottom: 30px;
    margin-top: 30px;
}

.widget h2 {
    font-size: 25px;
    color: #f25641;
}

.widget h4 {
    font-size: 15px;
    color: #F22D12;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px #ffffff;
    text-transform: uppercase;
}

.widget.comments section {
    position: relative;
    margin-bottom: 45px;
}

.widget.comments section header {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #170901;
}

.widget.comments section header small {
    display: block;
    color: #f25641;
    font-size: 14px;
}

.widget.comments section img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: -80px;
    top: -10px;
}

.widget.comments section blockquote {
    font-style: italic;
    font-size: 12px;
}

/* POJEDYNCZA FIRMA */
.one_firm {
    background: rgba(248, 80, 50, 1);
    background: -moz-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(0%, rgba(241, 111, 92, 1)), color-stop(51%, rgba(246, 41, 12, 1)), color-stop(71%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(182, 22, 68, 1)));
    background: -webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: -o-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: -ms-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#b61644', GradientType=1);

    position: fixed;
    width: 100%;
    z-index: 100;
}

.fixed-top.scrolled {
    margin-top: 0px;
    background: url("../images/footer_top_background.jpg");
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    transition: ease 0.45s;
    /*
    background: rgba(248, 80, 50, 0.7);
    background: -moz-linear-gradient(left, rgba(248, 80, 50, 0.7) 0%, rgba(241, 111, 92, 0.7) 0%, rgba(246, 41, 12, 0.7) 51%, rgba(240, 47, 23, 0.7) 71%, rgba(182, 22, 68, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 0.7)), color-stop(0%, rgba(241, 111, 92, 0.7)), color-stop(51%, rgba(246, 41, 12, 0.7)), color-stop(71%, rgba(240, 47, 23, 0.7)), color-stop(100%, rgba(182, 22, 68, 0.7)));
    background: -webkit-linear-gradient(left, rgba(248, 80, 50, 0.7) 0%, rgba(241, 111, 92, 0.7) 0%, rgba(246, 41, 12, 0.7) 51%, rgba(240, 47, 23, 0.7) 71%, rgba(182, 22, 68, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(248, 80, 50, 0.7) 0%, rgba(241, 111, 92, 0.7) 0%, rgba(246, 41, 12, 0.7) 51%, rgba(240, 47, 23, 0.7) 71%, rgba(182, 22, 68, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(248, 80, 50, 0.7) 0%, rgba(241, 111, 92, 0.7) 0%, rgba(246, 41, 12, 0.7) 51%, rgba(240, 47, 23, 0.7) 71%, rgba(182, 22, 68, 0.7) 100%);
    background: linear-gradient(to right, rgba(248, 80, 50, 0.7) 0%, rgba(241, 111, 92, 0.7) 0%, rgba(246, 41, 12, 0.7) 51%, rgba(240, 47, 23, 0.7) 71%, rgba(182, 22, 68, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#b61644', GradientType=1);
    */
    background: #fff;
}

.fixed-top.scrolled a,
.fixed-top.scrolled a:hover {
    color: black !important;
    font-weight: 600;
}

.fixed-top.scrolled a .sub-menu a {
    color: #F5361B !important;
    font-weight: 600;
}

.fixed-top.scrolled .sub-menu {
    background: #fff;
    border: 1px solid #F5361B;
}

.fixed-top.scrolled .sub-menu li:nth-child(1),
.fixed-top.scrolled .sub-menu li:nth-child(3),
.fixed-top.scrolled .sub-menu li:nth-child(5),
.fixed-top.scrolled .sub-menu li:nth-child(7) {
    background: #DFDFDF;
}

.one_firm a {
    text-transform: uppercase;
    color: #fff;
}

.top_background2 {
    position: absolute;
    top: 100%;
}

#header .wooden header {
    width: 470px;
    overflow: hidden;
    padding-top: 50px;
}

#header.entry .wooden h3 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #f25641;
    color: #494949;
}

#header.entry .wooden span {
    float: left;
    margin-top: -3px;
}

#header ul {
    display: inline-flex;
}

#header .difficulty li.active {
    background: url("../images/star-icon.png") no-repeat center center;
}

#header .difficulty li {
    background: url("../images/star-icon — white.png") no-repeat center center;
}

#header .difficulty li {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    text-indent: -999em;
}

#entry .map {
    width: 394px;
    height: 431px;
}

#entry .map iframe {
    border: 1px solid #f25641;
!important;
}

#entry header {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    margin-top: 80px;
}

#entry h2 {
    font-size: 28px;
    color: #000000;
}

#entry h3 {
    font-size: 19px;
    color: #bcbcbc;
}

.comments-list .comment {
    position: relative;
    padding-left: 37px;
}

.comments-list .inner {
    border: 1px solid #e7e6e6;
    margin-bottom: 35px;
    background: #fff;
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

.comments-list .comment_title {
    background: #f25641;
}

.comments-list .comment_title_2 {
    background: #bcbcbc;
}

.comments-list .inner p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
    margin: 0px;
    font-size: 13px;
}

#entry img {
    margin-right: 6px;
}

.comments-list .inner img {
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 0px;
    top: -10px;
}

.one_firm__opis {
    color: #828282;
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
}

.difficulty {
    color: #F22D12;
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    display: grid;
}

.difficulty h5 {
    font-weight: 600;
}

#respond #cancel-comment-reply-link {
    font-size: 13px;
    font-style: italic;
}

#respond .logged-in-as {
    margin-left: 5px;
    margin-bottom: 10px;
}

#entry form textarea {
    width: 560px;
    height: 170px;
}

#entry form input, #entry form textarea {
    padding: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #a2a1a1;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    background: #f1f0f0;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    resize: none;
}

#entry form button {
    border: 0;
    background: #f25641;
    padding-right: 33px;
    margin-top: 12px;
    height: 24px;
    color: #000000;
    font-size: 15.5px;
    float: right;
    cursor: pointer;
}

#list_of_firms {
    padding-top: 100px;
}

#list_of_firms h2 {
    font-size: 1.4rem;
    border-bottom: 2px solid #ECCDCD;
    padding-bottom: 6px;
    margin-bottom: 12px;
    color: #F22D12;
    cursor: pointer;
    font-weight: 600;
}

#list_of_firms p {
    color: #171717;
    width: 100%;
    display: block;
    clear: right;
    line-height: 29px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    font-size: 0.9rem;
    cursor: pointer;
}

#list_of_firms p span {
    margin-top: 6px;
    line-height: 17px;
    height: 17px;
    float: right;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background: #c0c0c0;
    padding: 0px 8px 0px 8px;
    cursor: pointer;
}

#list_of_firms .list_first {
    padding-bottom: 50px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: #da2628;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#firms .description.width {
    width: 100%;
}

/* NEWS  */
#news {
    padding-top: 45px;
}

#news .news_photo1 {
    height: 350px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
}

#news .news_photo2 {
    height: 350px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
}

#news .news_photo3 {
    height: 350px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    filter: grayscale(70%);
}

#news .carousel-caption {
    background: rgba(34, 34, 34, 0.3);
    animation-delay: 1s;
}

#news .news_photo1 h3,
#news .news_photo2 h3,
#news .news_photo3 h3 {
    font-size: 2.5rem;
    font-weight: 600;
    animation-delay: 1.5s;
}

#news .news_photo1 p,
#news .news_photo2 p,
#news .news_photo3 p {
    font-size: 3.75rem;
    animation-delay: 2s;
}

#news .news_photo1 span,
#news .news_photo2 span,
#news .news_photo3 span {
    font-size: 3.75rem;
}

.carousel-indicators li {
    height: 5px;
    border-radius: 25%;
}

/* REKLAMA */
.section-opinions .section-opinions-line {
    padding: 100px;
}

.section-opinions-1 {
    padding: 0;
}

.section-opinions-1 .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    left: -25px;
}

.section-opinions-1 .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    right: -25px;
}

.opinions-slider {
    margin-top: 60px;
}

.opinions-slider ul {
    display: none;
}

.section-opinions .slider-box {
    background-color: #fff;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    border-radius: 16px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-opinions .slider-box p {
    font-size: 2.5em;
    color: #F22D12;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 0px #f25641;
}

.slick-dots li button {
    color: #F22D12;
    font-size: 10px;
}

.slick-dots li.slick-active button:before {
    color: #F22D12;
    font-size: 10px;
}

.slick-dots li button:before {
    color: #F22D12;
    font-size: 10px;
}

.section-opinions .slick-dots {
    bottom: 25px;
}

.reklama_logo {
    width: 15%;
}

#respond {
    padding-top: 120px !important;
}

/*NAV */
body > header nav ul.menu > li {
    float: left;
    position: relative;
}

body > header nav ul li a {
    display: block;
}

body > header nav ul.menu > li > a {
    padding: 10px 0px 10px 30px;
}

body > header nav ul.menu > li > a:hover {
    color: #fff !important;
}

body > header nav ul.menu li:hover .sub-menu {
    display: inline-flex;
}

body > header nav ul.menu .pll-parent-menu-item:hover .sub-menu {
    display: block;
}

body > header nav ul li .sub-menu {
    background-color: rgba(242, 45, 18, 0.6);
    position: absolute;
    display: none;
    z-index: 10;
    top: 44px;
    padding-left: 0px;
}

body > header nav ul li .sub-menu li:nth-child(1),
body > header nav ul li .sub-menu li:nth-child(3),
body > header nav ul li .sub-menu li:nth-child(5),
body > header nav ul li .sub-menu li:nth-child(7) {
    background: #F22D14;
}

body > header nav .sub-menu li a {
    display: block;
    margin: 8px 28px 4px 28px;
    text-transform: lowercase;
    font-size: 15px;
}

body > header nav .sub-menu li a:hover {
    color: #fff;
}

a:hover {
    color: #F22D14;
!important;
    font-weight: 600;
}

/*SIDEBAR - WIDGETS */
.widgets {
    text-align: center;
    padding: 20px;
}

.widgets h2 {
    text-transform: uppercase;
    color: #F22D12;
    font-weight: 600;
    font-size: 25px;
    border-bottom: 2px solid #ECCDCD;
}

.widget_ostatnio_dodane {
    display: inline-block !important;
}

#responsive-menu-container {
    background: transparent !important;
}

#responsive-menu-search-box {
    display: none;
}

#responsive-menu-additional-content {
    display: none;
}

/* KOMENTARZE - Pojedyncza firma */
#comments .comments {
    background: #ffffff;
    margin-top: 50px;
}

#comments .comments header {
    margin-bottom: 50px;
    padding-left: 50px;
    border: 2px solid red;
    background-color: rgba(242, 45, 18, 0.4);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

#comments .comments header h2 {
    color: #fff;
}

#comments .comments header h3 {
    color: antiquewhite;
}

#comments .comments-list .comment {
    width: 1021px;
    position: relative;
    background: #fff;
    border: 1px solid #e7e6e6;
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

#comments p {
    margin-left: 50px;
    margin-bottom: 50px;
}

#respond form textarea {
    width: 50%;
    height: 170px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #a2a1a1;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    background: #f1f0f0;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    line-height: 23px;
}

#respond form button {
    border: 0;
    padding-right: 9px;
    height: 24px;
    color: white;
    font-size: 15.5px;
    cursor: pointer;
    background: red;
    font-weight: 600;
    margin-bottom: 15px;
}

/* CATEGORY */
#header_category {
    padding-top: 100px;
}

#header_category h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #f25641;
}

/* FLAGS */
.pll-parent-menu-item {
    float: right !important;
    padding-right: 80px;
}

.slick-prev:before, .slick-next:before {
    color: transparent;
}

.add_firm {
    width: 200% !important;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
}

label .branze {
    padding: 5px;
    text-align: justify;
}

.przeslij_firme input {
    color: #fff;
    background: #F22D12;
    border: none;
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
}

.error404 {
    background: red !important;
}

#submenu-firms,
#submenu-firms-small {
    padding-top: 90px;
    padding-bottom: 7px;
    transition: ease 0.45s;
    background-color: rgba(242, 45, 18, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.submenu-firms-lista {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.submenu-firms-lista li {

}

.submenu-firms-lista li a {
    text-transform: uppercase;
    font-size: 12px;
    color: #F22D12;
    font-weight: bold;
}

.submenu-firms-lista li a:hover {
    color: #fff;
}

/* PRE-FOOTER */
.pre-footer {
    color: #F22D12;
    padding: 20px 0px 20px 0px;
    position: relative;
    font-size: 0.9em;
    background: url("../images/footer-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pre-footer hr {
    display: block;
    margin: 17px 0;
    width: 50px;
    border: none;
    height: 4px;
    background: #F22D12;
}

.pre-footer .pre-footer-inner {
    padding-top: 40px;
}

.pre-footer .pre-footer-inner .pre-footer-list h4 {
    font-weight: 600;
    font-size: 1em;
    color: #F22D12;
}

.pre-footer .pre-footer-inner .pre-footer-list .list-inner {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.pre-footer .pre-footer-inner .pre-footer-list .list-inner .nav-item {
    font-size: 0.9em;
    padding: 0.2em 0;
}

.pre-footer .pre-footer-inner .pre-footer-list .list-inner .nav-item a {
    color: #F22D12;
    font-size: 0.9em;
    transition: ease 0.45s;
}

.pre-footer .pre-footer-inner .pre-footer-list .list-inner .nav-item a:hover {
    color: #fff;
    cursor: pointer;
}

.pre-footer .pre-footer-inner .pre-footer-list button {
    color: #fff;
    background-color: #F22D12;
    border: 2px solid #F25641;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 50px;
    margin: 20px 0;
    font-weight: 600;
    transition: ease 0.45s;
    cursor: pointer;
}

.pre-footer .pre-footer-inner .pre-footer-list button:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #F22D12;
}

/* FOOTER: */
#prefooter {
    padding-top: 100px;
}

#prefooter .line-top {
    background: url("../images/footer_top_background.jpg");
    width: 100%;
    height: 4px;
}

.footer_background {
    background: rgba(248, 80, 50, 1);
    background: -moz-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(0%, rgba(241, 111, 92, 1)), color-stop(51%, rgba(246, 41, 12, 1)), color-stop(71%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(182, 22, 68, 1)));
    background: -webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: -o-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: -ms-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 0%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(182, 22, 68, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#b61644', GradientType=1);
}

.footer-text {
    color: #fff;
    font-size: 0.8em;
    padding: 20px 0 12px 0;
}

/* ABOUT */
#about {
    padding-top: 50px;
}

#about p {
    color: #5e5d5d;
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
}

.about_title h1 {
    color: #494949;
    font-size: 30px;
    padding: 10px;
    font-weight: 600;
}

/* BOXES - BTM */
#cennik {
    padding-top: 50px;
}

.cennik_boxes {
    padding-top: 50px;
}

.box1,
.box3 {
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    text-align: center;
}

.box2 {
    background: #F22D12;
    border-radius: 12px;
    position: relative;
    text-align: center;
}

.cennik_boxes img {
    width: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.box__inner h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.box1 p,
.box3 p {
    color: #2d2d2d;
}

.box2 p {
    color: #fff;

}

.box__inner p {
    font-size: 14px;
}

.box1:hover {
    width: 120%;
    left: -1%;
    top: -35px;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
}

.box2:hover {
    width: 120%;
    top: -35px;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
}

.box3:hover {
    width: 120%;
    right: -1%;
    top: -35px;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
}

/* CONTACT */
.reklama h2 {
    color: #F22D12;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 50px;
}

.reklama input, .reklama textarea, .reklama button {
    margin-top: 10px;
}

.reklama button {
    background-color: #F22D12;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.regulamin_checkbox {
    background: #F1D5D4;
    padding: 20px;
    border: 1px solid #F22D12;
}

.regulamin_checkbox span {
    color: black;
    font-weight: 600;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
}